/* line 1, ../sass/_head.scss */
.header {
  background-color: black;
  border-bottom: 1px solid rgba(240, 240, 240, 0.5);
  min-height: 50px;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
}
/* line 11, ../sass/_head.scss */
.header > div {
  vertical-align: middle;
}
/* line 16, ../sass/_head.scss */
.header:hover .login {
  opacity: 1;
}
/* line 20, ../sass/_head.scss */
.header:hover #pageTitle {
  -webkit-transform: perspective(100px) rotateY(20deg);
  -moz-transform: perspective(100px) rotateY(20deg);
  -ms-transform: perspective(100px) rotateY(20deg);
  -o-transform: perspective(100px) rotateY(20deg);
  transform: perspective(100px) rotateY(20deg);
  text-shadow: 0px 0px 3px #00c0ff;
}
/* line 26, ../sass/_head.scss */
.header a {
  padding: 0px;
  margin: 0px;
  color: white;
  text-decoration: none;
}

/* line 37, ../sass/_head.scss */
#pageTitle {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: perspective(100px) rotateY(-20deg);
  -moz-transform: perspective(100px) rotateY(-20deg);
  -ms-transform: perspective(100px) rotateY(-20deg);
  -o-transform: perspective(100px) rotateY(-20deg);
  transform: perspective(100px) rotateY(-20deg);
  color: #f0f0f0;
  font-size: 26px;
  font-style: italic;
  padding-top: 3px;
  margin: 0px;
  overflow: visible;
  float: left;
  cursor: pointer;
}
/* line 49, ../sass/_head.scss */
#pageTitle > a {
  color: white;
}

/* line 54, ../sass/_head.scss */
.login {
  float: right;
  margin-top: 10px;
}

/* line 59, ../sass/_head.scss */
.subHeader, .errorHeader {
  min-height: 50px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}
/* line 67, ../sass/_head.scss */
.subHeader span, .errorHeader span {
  margin-top: 15px;
  float: left;
  font-weight: bold;
  color: black;
}

/* line 76, ../sass/_head.scss */
.errorHeader {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-color: #640096;
}
/* line 80, ../sass/_head.scss */
.errorHeader span {
  width: 100%;
  float: next;
  text-align: center;
}

/* line 10, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
/* line 18, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#layout #layout_footer {
  height: 40px;
}

/* line 20, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 40px;
}

/* line 9, ../sass/_footer.scss */
#footer {
  background-color: black;
  border-top: 1px solid rgba(240, 240, 240, 0.2);
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 1px;
}

/* line 18, ../sass/_footer.scss */
#footerSpacing {
  padding-top: 11px;
  padding-bottom: 11px;
  margin: 0;
  color: #f0f0f0;
  font-size: 12px;
  text-align: center;
}

/* line 3, ../sass/_menubar.scss */
.menuBar {
  float: left;
  padding-left: 30px;
  padding-top: 5px;
}
/* line 8, ../sass/_menubar.scss */
.menuBar > div {
  float: left;
  margin-left: 5px;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 15, ../sass/_menubar.scss */
.menuBar > div a {
  padding: 0px;
  margin: 0px;
}
/* line 23, ../sass/_menubar.scss */
.menuBar > div:hover ul {
  opacity: 1;
  visibility: visible;
}
/* line 30, ../sass/_menubar.scss */
.menuBar > div > ul {
  text-align: left;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  list-style: none;
  margin-top: 4px;
  margin-left: -10px;
  padding: 10px 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 48, ../sass/_menubar.scss */
.menuBar > div > ul > li {
  padding: 5px 10px;
  min-width: 150px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 54, ../sass/_menubar.scss */
.menuBar > div > ul > li:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33cdff), color-stop(100%, #00b2fb));
  background-image: -webkit-linear-gradient(#33cdff, #00b2fb);
  background-image: -moz-linear-gradient(#33cdff, #00b2fb);
  background-image: -o-linear-gradient(#33cdff, #00b2fb);
  background-image: linear-gradient(#33cdff, #00b2fb);
}
/* line 56, ../sass/_menubar.scss */
.menuBar > div > ul > li:hover a {
  display: block;
  color: white;
}

/* line 66, ../sass/_menubar.scss */
.dropdown {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding-bottom: 16px !important;
}
/* line 72, ../sass/_menubar.scss */
.dropdown > ul {
  margin-top: 16px !important;
}

/* line 78, ../sass/_menubar.scss */
.blueBar {
  color: black !important;
}
/* line 84, ../sass/_menubar.scss */
.blueBar > div ul {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 87, ../sass/_menubar.scss */
.blueBar > div ul a {
  color: white !important;
}
/* line 92, ../sass/_menubar.scss */
.blueBar > div:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: white !important;
}
/* line 97, ../sass/_menubar.scss */
.blueBar > div:hover a {
  color: white !important;
}

/* line 105, ../sass/_menubar.scss */
.whiteBar a {
  color: white !important;
}

/* line 4, ../sass/_table-system.scss */
.hover, .EButton:not([disabled]):hover, .ESmallButton:not([disabled]):hover, .ETablePanel .ETable td button:not([disabled]):hover {
  border: solid 1px transparent;
}

/* line 8, ../sass/_table-system.scss */
.hover:hover, .EButton:hover:not([disabled]), .ESmallButton:hover:not([disabled]), .ETablePanel .ETable td button:hover:not([disabled]) {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282828), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#282828, #000000);
  background-image: -moz-linear-gradient(#282828, #000000);
  background-image: -o-linear-gradient(#282828, #000000);
  background-image: linear-gradient(#282828, #000000);
  border: 1px solid #6600ff;
  color: white;
  box-shadow: 0 0 3px 1px #00c0ff;
}

/* line 15, ../sass/_table-system.scss */
.EButton, .ESmallButton, .ETablePanel .ETable td button {
  display: inline-block;
  border: 1px solid #757575;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-family: Helvetica,sans-serif;
  margin: 2px;
  color: #000;
  box-sizing: border-box;
  cursor: pointer;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c8c8c8));
  background-image: -webkit-linear-gradient(#ffffff, #c8c8c8);
  background-image: -moz-linear-gradient(#ffffff, #c8c8c8);
  background-image: -o-linear-gradient(#ffffff, #c8c8c8);
  background-image: linear-gradient(#ffffff, #c8c8c8);
}
/* line 30, ../sass/_table-system.scss */
.EButton:not([disabled]):active, .ESmallButton:not([disabled]):active, .ETablePanel .ETable td button:not([disabled]):active {
  -webkit-transform: scale(0.94);
  -moz-transform: scale(0.94);
  -ms-transform: scale(0.94);
  -o-transform: scale(0.94);
  transform: scale(0.94);
}
/* line 33, ../sass/_table-system.scss */
[disabled].EButton, [disabled].ESmallButton, .ETablePanel .ETable td button[disabled] {
  opacity: 0.5;
}

/* line 41, ../sass/_table-system.scss */
.EButton {
  padding: 6px 14px;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3);
}

/* line 48, ../sass/_table-system.scss */
.ESmallButton, .ETablePanel .ETable td button {
  padding: 3px 7px !important;
  font-size: 11px !important;
}

/* line 62, ../sass/_table-system.scss */
.ETable {
  clear: both;
  border-collapse: collapse;
  border: solid 1px black;
  background-color: black;
  width: 100%;
}
/* line 69, ../sass/_table-system.scss */
.ETable thead th {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282828), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#282828, #000000);
  background: -moz-linear-gradient(#282828, #000000);
  background: -o-linear-gradient(#282828, #000000);
  background: linear-gradient(#282828, #000000);
  padding: 5px;
  color: white;
  text-align: left;
  font-size: 13px;
}
/* line 78, ../sass/_table-system.scss */
.ETable tr {
  vertical-align: middle !important;
}
/* line 82, ../sass/_table-system.scss */
.ETable tr:nth-child(even) {
  /* @include background(image-url("site-design/site-images/table/sort_asc.png")); */
  background-color: #f0f0f0;
}
/* line 86, ../sass/_table-system.scss */
.ETable tr:nth-child(odd) {
  background-color: white;
}
/* line 89, ../sass/_table-system.scss */
.ETable td {
  padding: 3px;
  font-size: 13px;
}
/* line 93, ../sass/_table-system.scss */
.ETable td i {
  color: #999999;
}

/* line 104, ../sass/_table-system.scss */
.ETablePanel {
  margin-top: 10px;
  padding: 5px;
}
/* line 108, ../sass/_table-system.scss */
.ETablePanel .ETable {
  width: 100%;
}
/* line 112, ../sass/_table-system.scss */
.ETablePanel .ETable thead th:hover {
  cursor: pointer;
  color: #00c0ff;
}
/* line 118, ../sass/_table-system.scss */
.ETablePanel .ETable thead .asc, .ETablePanel .ETable thead .desc {
  background-position: right center !important;
  background-repeat: no-repeat !important;
}
/* line 123, ../sass/_table-system.scss */
.ETablePanel .ETable thead .asc {
  background: url('/images/../../table-system/media/sort_asc.png?1381690916'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282828), color-stop(100%, #000000));
  background: url('/images/../../table-system/media/sort_asc.png?1381690916'), -webkit-linear-gradient(#282828, #000000);
  background: url('/images/../../table-system/media/sort_asc.png?1381690916'), -moz-linear-gradient(#282828, #000000);
  background: url('/images/../../table-system/media/sort_asc.png?1381690916'), -o-linear-gradient(#282828, #000000);
  background: url('/images/../../table-system/media/sort_asc.png?1381690916'), linear-gradient(#282828, #000000);
}
/* line 128, ../sass/_table-system.scss */
.ETablePanel .ETable thead .desc {
  background: url('/images/../../table-system/media/sort_desc.png?1381690916'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282828), color-stop(100%, #000000));
  background: url('/images/../../table-system/media/sort_desc.png?1381690916'), -webkit-linear-gradient(#282828, #000000);
  background: url('/images/../../table-system/media/sort_desc.png?1381690916'), -moz-linear-gradient(#282828, #000000);
  background: url('/images/../../table-system/media/sort_desc.png?1381690916'), -o-linear-gradient(#282828, #000000);
  background: url('/images/../../table-system/media/sort_desc.png?1381690916'), linear-gradient(#282828, #000000);
}
/* line 139, ../sass/_table-system.scss */
.ETablePanel .hidden {
  display: none;
}
/* line 143, ../sass/_table-system.scss */
.ETablePanel .controls {
  padding: 5px;
  overflow: auto;
}
/* line 146, ../sass/_table-system.scss */
.ETablePanel .controls > * {
  float: left;
}
/* line 149, ../sass/_table-system.scss */
.ETablePanel .controls .MField {
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  width: 50px;
  margin-bottom: 5px;
  margin-top: 2px;
  font-size: 10px !important;
}
/* line 155, ../sass/_table-system.scss */
.ETablePanel .controls .MField:focus {
  width: 200px;
}
/* line 159, ../sass/_table-system.scss */
.ETablePanel .controls select {
  margin-top: 4px;
}
/* line 162, ../sass/_table-system.scss */
.ETablePanel .controls span {
  font-size: 14px;
  margin-left: 5px;
  margin-top: 4px;
}

/* line 1, ../sass/_itemlist.scss */
.wrap {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  min-width: 300px;
}

/* line 9, ../sass/_itemlist.scss */
.item, .viewItem, .cartItem {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 0px inset;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}
/* line 19, ../sass/_itemlist.scss */
.item .image, .item .viewImage, .item .cartImage, .viewItem .image, .viewItem .viewImage, .viewItem .cartImage, .cartItem .image, .cartItem .viewImage, .cartItem .cartImage {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
}
/* line 30, ../sass/_itemlist.scss */
.item .data, .item .viewData, .item .cartData, .viewItem .data, .viewItem .viewData, .viewItem .cartData, .cartItem .data, .cartItem .viewData, .cartItem .cartData {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  padding: 10px;
}
/* line 34, ../sass/_itemlist.scss */
.item .data > *, .item .viewData > *, .item .cartData > *, .viewItem .data > *, .viewItem .viewData > *, .viewItem .cartData > *, .cartItem .data > *, .cartItem .viewData > *, .cartItem .cartData > * {
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 42, ../sass/_itemlist.scss */
.item .data > h4, .item .viewData > h4, .item .cartData > h4, .viewItem .data > h4, .viewItem .viewData > h4, .viewItem .cartData > h4, .cartItem .data > h4, .cartItem .viewData > h4, .cartItem .cartData > h4 {
  font-weight: normal;
}
/* line 46, ../sass/_itemlist.scss */
.item .data > p, .item .viewData > p, .item .cartData > p, .viewItem .data > p, .viewItem .viewData > p, .viewItem .cartData > p, .cartItem .data > p, .cartItem .viewData > p, .cartItem .cartData > p {
  font-weight: bold;
}
/* line 50, ../sass/_itemlist.scss */
.item .data input, .item .viewData input, .item .cartData input, .viewItem .data input, .viewItem .viewData input, .viewItem .cartData input, .cartItem .data input, .cartItem .viewData input, .cartItem .cartData input {
  padding: 8px;
  margin: 0px;
}

/* line 57, ../sass/_itemlist.scss */
.viewItem {
  background: none;
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 64, ../sass/_itemlist.scss */
.viewItem .viewImage {
  width: 300px;
  height: 300px;
}
/* line 69, ../sass/_itemlist.scss */
.viewItem .viewData {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0 inset;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
/* line 79, ../sass/_itemlist.scss */
.viewItem .viewData * {
  padding: 0;
  margin: 0;
}
/* line 84, ../sass/_itemlist.scss */
.viewItem .viewData .dataTop {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -ms-box-flex: 5;
  box-flex: 5;
}
/* line 87, ../sass/_itemlist.scss */
.viewItem .viewData .dataTop > h4 {
  font-size: 16px;
  font-weight: normal;
  padding: 20px;
}
/* line 94, ../sass/_itemlist.scss */
.viewItem .viewData .dataBottom {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 98, ../sass/_itemlist.scss */
.viewItem .viewData .dataBottom > p {
  font-weight: bold;
  margin-left: 10px;
  float: left;
  font-size: 24px;
  padding: 10px;
}
/* line 106, ../sass/_itemlist.scss */
.viewItem .viewData .dataBottom > a {
  float: right;
  margin-right: 10px;
  margin-top: 7px;
  padding: 10px;
}

/* line 116, ../sass/_itemlist.scss */
.cartItem {
  background: none;
  border: none;
  padding: 0;
  margin-top: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 124, ../sass/_itemlist.scss */
.cartItem .cartImage {
  width: 200px;
  height: 200px;
}
/* line 129, ../sass/_itemlist.scss */
.cartItem .cartData {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0 inset;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
/* line 140, ../sass/_itemlist.scss */
.cartItem * {
  padding: 0;
  margin: 0;
}
/* line 145, ../sass/_itemlist.scss */
.cartItem .cartTop {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -ms-box-flex: 5;
  box-flex: 5;
}
/* line 148, ../sass/_itemlist.scss */
.cartItem .cartTop > h3 {
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}
/* line 154, ../sass/_itemlist.scss */
.cartItem .cartTop > h4 {
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
}
/* line 161, ../sass/_itemlist.scss */
.cartItem .cartBottom {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 165, ../sass/_itemlist.scss */
.cartItem .cartBottom > p {
  font-weight: bold;
  margin-left: 10px;
  float: left;
  font-size: 24px;
  padding: 10px;
}
/* line 173, ../sass/_itemlist.scss */
.cartItem .cartBottom > a {
  float: right;
  margin-right: 10px;
  margin-top: 7px;
  padding: 10px;
  background-color: rgba(192, 255, 0, 0.8);
}

/* line 183, ../sass/_itemlist.scss */
a.button {
  padding: 10px !important;
}

/* line 187, ../sass/_itemlist.scss */
.checkOutBox {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 0px inset;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 196, ../sass/_itemlist.scss */
.checkOutBox .topWrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -ms-box-flex: 4;
  box-flex: 4;
  padding: 10px;
}
/* line 202, ../sass/_itemlist.scss */
.checkOutBox .topWrap .checkOutName {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -ms-box-flex: 5;
  box-flex: 5;
  width: 200px;
}
/* line 207, ../sass/_itemlist.scss */
.checkOutBox .topWrap .checkOutDescrip {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -ms-box-flex: 5;
  box-flex: 5;
  width: 200px;
}
/* line 212, ../sass/_itemlist.scss */
.checkOutBox .topWrap .checkOutItemCount {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  width: 100px;
}
/* line 217, ../sass/_itemlist.scss */
.checkOutBox .topWrap .checkOutSubtotal {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  width: 100px;
}
/* line 222, ../sass/_itemlist.scss */
.checkOutBox .topWrap .title {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px 1px inset;
  background-color: rgba(0, 192, 255, 0.5) !important;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 10px;
}
/* line 237, ../sass/_itemlist.scss */
.checkOutBox .bottomWrap {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -ms-box-flex: 4;
  box-flex: 4;
  padding: 10px;
}
/* line 244, ../sass/_itemlist.scss */
.checkOutBox .bottomWrap .checkOutName {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -ms-box-flex: 5;
  box-flex: 5;
  width: 200px;
}
/* line 249, ../sass/_itemlist.scss */
.checkOutBox .bottomWrap .checkOutDescrip {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -ms-box-flex: 5;
  box-flex: 5;
  width: 200px;
}
/* line 254, ../sass/_itemlist.scss */
.checkOutBox .bottomWrap .checkOutItemCount {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  width: 100px;
}
/* line 259, ../sass/_itemlist.scss */
.checkOutBox .bottomWrap .checkOutSubtotal {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  width: 100px;
}

/* line 3, ../sass/_elements.scss */
input, textarea {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(#ffffff, #e8e8e8);
  background-image: -moz-linear-gradient(#ffffff, #e8e8e8);
  background-image: -o-linear-gradient(#ffffff, #e8e8e8);
  background-image: linear-gradient(#ffffff, #e8e8e8);
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
/* line 10, ../sass/_elements.scss */
input:focus, textarea:focus {
  border: 1px solid #00c0ff;
  box-shadow: 0px 0px 5px 1px rgba(0, 192, 255, 0.5);
}

/* line 16, ../sass/_elements.scss */
textarea {
  font-family: 'Open Sans';
  min-width: 300px;
  min-height: 50px;
  resize: none;
}

/* line 23, ../sass/_elements.scss */
a.button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 1px 1px inset;
  border: none;
  border-radius: 5px;
  margin-top: 11px;
  padding: 5px;
  cursor: pointer;
}
/* line 35, ../sass/_elements.scss */
a.button:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  background-color: #f0f0f0;
  outline: none;
}

/* line 43, ../sass/_elements.scss */
.submit, .delete {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
/* line 51, ../sass/_elements.scss */
.submit:focus, .delete:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  background-color: #7ac000;
}

/* line 57, ../sass/_elements.scss */
.submit {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-color: rgba(192, 255, 0, 0.7) !important;
}
/* line 61, ../sass/_elements.scss */
.submit:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  background-color: #7ac000;
}

/* line 67, ../sass/_elements.scss */
.loginButton {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-color: #00c0ff !important;
}
/* line 71, ../sass/_elements.scss */
.loginButton:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  background-color: #0080c8;
}

/* line 77, ../sass/_elements.scss */
.delete {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-color: rgba(255, 0, 0, 0.7) !important;
}
/* line 81, ../sass/_elements.scss */
.delete:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 1px inset;
  background-color: #7a0000;
}

/* line 89, ../sass/_elements.scss */
div.selectStyle select {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* line 101, ../sass/_elements.scss */
input[type=radio] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(#ffffff, #e8e8e8);
  background-image: -moz-linear-gradient(#ffffff, #e8e8e8);
  background-image: -o-linear-gradient(#ffffff, #e8e8e8);
  background-image: linear-gradient(#ffffff, #e8e8e8);
  border: none;
  padding: 0;
  outline: none;
}
/* line 107, ../sass/_elements.scss */
input[type=radio]:focus {
  border: none;
  box-shadow: none;
}

@font-face {
  font-family: 'Chalk';
  src: url("eraserregular-webfont.eot");
  src: url("eraserregular-webfont.eot?#iefix") format("embedded-opentype"), url("eraserregular-webfont.woff") format("woff"), url("eraserregular-webfont.ttf") format("truetype"), url("eraserregular-webfont.svg#webfont") format("svg");
}

/* line 18, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/main.scss */
body {
  font-family: "Open Sans";
  font-size: 14px;
  background-color: #f0f0f0;
}

/* line 31, ../sass/main.scss */
.center_on_screen {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-width: 1000px;
  overflow: visible;
}

/* line 43, ../sass/main.scss */
h2 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #c8c8c8));
  background-image: -webkit-linear-gradient(#f0f0f0, #c8c8c8);
  background-image: -moz-linear-gradient(#f0f0f0, #c8c8c8);
  background-image: -o-linear-gradient(#f0f0f0, #c8c8c8);
  background-image: linear-gradient(#f0f0f0, #c8c8c8);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 0px inset;
  padding: 8px;
  margin: 0px;
  margin-bottom: 10px;
  color: black;
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
}

/* line 55, ../sass/main.scss */
td {
  padding: 5px;
}
/* line 58, ../sass/main.scss */
td > input {
  margin: 0px;
  width: 96%;
  max-width: 300px;
}
/* line 64, ../sass/main.scss */
td > input[type=radio] {
  margin: 0;
  width: auto;
}
/* line 69, ../sass/main.scss */
td > label {
  margin: 0px;
  padding: 0px;
}

/* line 75, ../sass/main.scss */
.encapsulate_content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 2px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 2px 1px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 2px 1px;
  border: 1px solid rgba(150, 150, 150, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: auto;
}

/* line 89, ../sass/main.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* line 96, ../sass/main.scss */
a:link, a:active, a:hover, a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* line 102, ../sass/main.scss */
.clouds {
  background-image: url(../images/homeClouds.jpg);
  background-size: cover;
}

/* line 107, ../sass/main.scss */
.indexPage {
  height: 100%;
}
/* line 110, ../sass/main.scss */
.indexPage h1 {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: 54px;
  color: white;
  margin-top: 100px;
  font-family: Chalk;
}
/* line 118, ../sass/main.scss */
.indexPage h3 {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  color: white;
  margin-top: 20px;
  font-family: "Chalk";
}
